@keyframes landscape-zoom-animation {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.8);
    }
}
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px -49px 145px 10px rgba(0,0,0,0.8) inset;
  }
.image {
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    animation: landscape-zoom-animation 60s ease-in-out infinite alternate;
    transition: all 4000ms;
    opacity: 1;
    filter: saturate(1.5);
    z-index: 0;
}
.image-hidden {
    opacity: 0;
    transition: all 1000ms;
}
.image-animation-enter {
    opacity: 0;
}
.image-animation-enter-active {
    opacity: 1;
}
.loader-container {
    position: absolute;
    width: 100pt;
    height: 100pt;
    right: 10pt;
    bottom: 10pt;
    opacity: 0.5;
    transition: all 1000ms;
}
.loader-container-hidden {
    opacity: 0;
    transition: all 1000ms;
}
